#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

#loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#content {
  display: none;
}

.scrollTopBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #f5f5f5;
  color: #1893f7;
  border: none;
  border-radius: 50%; /* Circle shape */
  width: 46px;
  height: 46px;
  font-size: 24px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 7px 0 rgba(0,0,0,.26);
  transition: bottom .2s, opacity .2s;
}

.scrollTopBtn span {
  transform: translateY(-2px); /* Adjust arrow position */
}

.scrollTopBtn:hover {
  background-color: #f5f5f5dc;
}


/********************************************** Body ***********************************************/
* {
  margin: 0;
  padding: 0;
  font-family: "manrope";
  scroll-behavior: smooth;
}

.container-responsive {
  margin: 0px 0px;
  padding: 30px 0px;
  align-items: center;
  gap: 25px;
}

/********************************************* Navbar **********************************************/
.navbarlogo {
  position: fixed;
  left: 6%;
}
.navbarlogo img{
  width: 9rem;
  padding: 6px 2px;
  margin: 4px 2px;
}
.menuicon {
  right: 50%;
  position: absolute;
  font-size: 2rem;
  cursor: pointer;
  display: none;
}
.closeicon {
  right: 5%;
  position: absolute;
  font-size: 2rem;
  cursor: pointer;
  display: none;
}
.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  /* right: 0; */
  width: 100%;
  background-color: white;
  /* backdrop-filter: blur(15px); */
  overflow: hidden;
  height: 0;
  transition: height 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown-menu.open {
  height: 300px;
}
.dropdown-menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.navbar::before {
  content: "";
}

.About .container-responsive .leftside {
  padding: 20px;
}
.About .container-responsive .rightside {
  padding: 20px 0px;
}
.About .container-responsive .rightside p {
  padding: 12px 12px;
}
.introsection {
  padding-top: 15px;
  padding-left: 30px;
  padding-right: 10px;
}
.cashlesscontainer {
  gap: 10rem;
  /* padding: 0px 80px; */
}
.offerscontainer {
  gap: 10rem;
}
.cashlesscontainer .leftside {
  padding-left: 50px;
}


/*************************************** FAQ Section ****************************************/

.expandicon {
  left: 5%;
  position: relative;
  font-size: 2rem;
  cursor: pointer;
  float: right;
  /* overflow: hidden; */
}
/* .questioncommon::after{
    content: "hello";
    text-align: right;
} */
.questioncommon {
  padding: 30px;
  background-color: #cdcacad1;
  border-radius: 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  font-size: 1.3rem;
  line-height: 1.3;
  font-style: normal;
  font-weight: 700;
  text-align: left;
}
.answercommon {
  width: 100%;
  background-color: #f5f5f5;
  backdrop-filter: blur(15px);
  overflow: hidden;
  display: flex;
  height: 100;
  display: none;
  background: #f5f5f5;
  /* transition-duration: 2s; */
  padding: 30px;
  border-radius: 20px;
  margin: 5px;
}

.answer1.open {
  display: block;
  /* height: 200px; */
  /* transition-duration: 2s; */
}
.answer2.open {
  display: block;
}
.answer3.open {
  display: block;
}
.answer4.open {
  display: block;
}
.answer5.open {
  display: block;
}

.socialmediaMain .container {
  gap: 20px;
}



.readcontainer {
  max-width: 500px;
  /* margin: 0 auto; */
  /* padding: 20px; */
}

.readcontent {
  overflow: hidden;
  max-height: 108px; /* Adjust as needed */
  transition: max-height 0.6s ease-in-out;
}

.readMoreBtn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 15px;
  cursor: pointer;
  margin: 10px 0px;
  border-radius: 40px;
}

.readMoreBtn:hover {
  background-color: #0056b3;
}

.ending {
  background-color: #0c161b;
}
#_Ears {
  font-family: "Manrope";
  font-size: 2.188rem;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.34;
  letter-spacing: normal;
  text-align: center;
  color: #0093f7;
}
#_NewKid {
  font-family: "Manrope";
  font-size: 1.25rem;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.3;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
}
#_FollowUs {
  font-family: Manrope;
  font-size: 1.25rem;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.3;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
}
.links {
  background-color: #0c161b;
}
.links .rows {
  width: 600px;
  margin: 50px 100px;
  gap: 150px;
}
.box1 p {
  text-align: left;
  font-family: "Manrope";
  text-decoration: #0093f7;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 25px;
  margin-bottom: 0;
  margin-top: 0;
}
.box1 h5 {
  display: block;
  font-size: 18px;
  margin-top: 18px;
  margin-bottom: 18px;
  margin-left: 0;
  margin-right: 0;
  font-weight: 700;
}
.box2 p {
  text-align: left;
  font-family: "Manrope";
  text-decoration: #0093f7;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 25px;
  margin-bottom: 0;
  margin-top: 0;
}
.box2 h5 {
  display: block;
  font-size: 18px;
  margin-top: 18px;
  margin-bottom: 18px;
  margin-left: 0;
  margin-right: 0;
  font-weight: 700;
}
.text-primary {
  color: #0093ff;
}
.text-primary:hover {
  color: #007bffae;
}

@media (max-width: 520px) {
  .links .rows {
    gap: 90px;
    margin: 40px 50px;
    margin-top: 20px;
  }
}

.footersponsors {
  background-color: #0c161b;
  justify-content: center;
  align-items: center;
}

.footersponsors .lists {
  width: 100px;
  gap: 25px;
  justify-content: center;
  margin-bottom: 40px;
}
.wbtc {
  height: 80px;
}

@media (max-width: 750px) {
  .wbtc {
    height: 75px;
  }
  .footersponsors .lists {
    width: 80px;
    gap: 20px;
  }
}

@media (max-width: 450px) {
  .wbtc {
    height: 70px;
  }
  .footersponsors .lists {
    width: 70px;
    gap: 15px;
  }
}

.paddingcommon {
  padding-left: 15px;
  padding-right: 15px;
}


.styletest:hover{
text-decoration: blueviolet;
}